/* Elementos principales*/
:root {
    --color-primario: #ecf8f9;
    --color-secundario: #068da9;
    --color-terciario: #7e1717;
    --color-contraste: #e55807;
    --font-dosis: 'Dosis', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primario);
    font-family: var(--font-dosis);
    margin: 4rem 0rem 0rem 0rem;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
  
*{
    scroll-margin-top: 70px;
}

h1, h2, h3, h4{
    text-decoration: none;
    font-weight: bold; /* linea debajo del texto */
    text-transform: uppercase; /* texto en mayusculas */
}

/* Estilos para todo el header */
header {
    background-color: rgb(203, 217, 222);
    position: fixed;
    width: 100%;
    top: 0;
    padding-bottom: .4rem;

}

header img {
    height: 4rem;
    margin-left: 3.5rem;
}

nav{
    display: flex; /* para que los elementos se alineen en lineas */
    justify-content: space-between; /* para que los elementos se alineen en el espacio entre ellos */
    padding: 0;

}


.menu-principal{
    list-style: none; /* para quitar los puntos */
    padding:  .8rem;
    display: flex;
    justify-content: right; /* para que los elementos se alineen en el espacio entre ellos */
    align-items: center; 
    font-weight: bold;
    margin: 0 1rem 0 0;
}

.menu-principal a{
    text-decoration: none;
}

.menu-principal ul{
    margin-top: 1rem;
}

.menu-principal li{
    margin: 0 1rem 0 1rem;
    border-radius: .7rem;
    padding: .4rem .7rem .4rem .7rem;
    text-decoration: none;
    color: var(--color-secundario);
    font-size: 20px;
}

.menu-principal li:hover{
    background-color: var(--color-contraste);
    color: white;
    border-radius: .7rem;
    transition-duration: 300ms;
}

.indice-secciones{
    background-color: var(--color-secundario);
    width: 100%;
    margin-top: 0;
    padding: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}




/* Seccion Banner Principal*/
.banner-principal img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Estilos para la seccion quienes somos */
.quienes-somos {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.texto-section {
    width: 50%;
    margin: 1rem 3rem 1rem 3rem;
    height: 400px;
}

.texto-section p {
    font-size: 20px;
    margin-bottom: 0;
    text-align: justify;
    
}

.texto-section h1 {
    font-size: 50px;
    margin: 0 3rem 0 3rem;
    color: var(--color-secundario);

}

.oddie-negro {
    height: 7rem;
    float: left;
    margin-right: 1rem;
}

.imagen-section {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 1rem 2rem 1rem 2rem;
    height: 400px;
}

.imagen-section img {
    width: auto;
    height: 90%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    margin-top: 1.5rem;
}

/* Estilos para la seccion Servicios*/
.servicios-section {
    background-color: var(--color-secundario);
    color: white;
    display: block;
    width: 100%;
    height: 35rem;
}

.servicios-section h1 {
    font-size: 50px;
    margin: 0;
}

.oddie-blanco {
    height: 7rem;
}

.texto-section-central {
    text-align: center;
    margin: 0;
    padding: 0;
    
}

.titulo-servicios{
    align-items: center;
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0;
}
.servicios{
    display: flex;
    justify-content: center;

}

.servicio {
    width: 20rem;
    margin: 0rem 1rem 2rem 1rem;
    padding: 20px;
    background-color: var(--color-primario);
    border-radius: .7rem;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: black;
}

.servicio:hover{
    box-shadow: none;
    transition-duration: 400ms;
}

.servicio h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.servicio p {
    font-size: 16px;
    line-height: 1.5;
}

.servicio img {
    width: 40%;
}

/* Estilos para la seccion estado de mascotas */
.estado-mascotas {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.estado-mascotas button{
    background-color: var(--color-secundario);
    padding: 1rem;
    border: none;
    border-radius: .7rem;
    width: 80%;
    margin: 2rem 1rem 1rem 1rem;
    font-size: 20px;
    color: var(--color-primario);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.estado-mascotas button:hover{
    cursor: pointer;
    box-shadow: none;
    transition-duration: 200ms;
}

/* Estilos para la seccion contacto*/
.contacto {
    background-color: var(--color-contraste);
    color: white;
    display: flex;
    height: 25rem;
    padding: 1rem 3rem 1rem 3rem;
}

.texto-section-contacto {
    width: 20%;
    display: flex;
    align-items: center;
    margin-right: 2remm;
}

.mapa-section {
    width: 90%;
}

.contacto h1 {
    color: white;
}

.mapa {
    border-radius: .7rem;
    margin: 2rem 0 2rem 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    height: 80%;
}

footer {
    display: flex;
    background-color: var(--color-secundario);
    padding: 0rem 3rem 0rem 3rem;
    color: white;
    text-align: justify;
    font-size: 20px;
    max-width: 100%;
}

.datos{
    text-align: justify;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.derechos{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociales {
    margin: 2rem 0 2rem 2rem;
    display: flex;
    justify-content: center;
    width: 30%;
}

.redes-sociales img {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

.redes-sociales img:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.menu-principal .inicio-sesion{
    color: var(--color-contraste);
}

