:root {
    --color-primario: #ecf8f9;
    --color-secundario: #068da9;
    --color-terciario: #7e1717;
    --color-contraste: #e55807;
    --font-dosis: 'Dosis', sans-serif;
}

html {
    scroll-behavior: smooth;
}

*{
    scroll-margin-top: 70px;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primario);
    font-family: var(--font-dosis);
    max-width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #ffffff;
    margin: 4rem 0rem 0rem 0rem;
    padding: 0;

}

h2{
    max-width: 100%;
    font-size: 40px;
    padding: 1.5rem 0 0rem 0rem;
    color: var(--color-contraste);
    margin: 0;
}

/* Estilos Para la primera seccion */

.datos-dueno-imagen {
    display: flex;
    max-width: 100%;
}

.datos-dueno {
    transition: .3s;
    margin: 2rem 2rem 0 3rem;
    display: block;
    align-items: center;
    width: 700px;
    height: auto;
    box-shadow: inset;
    border-radius: .7rem;
    padding: 1rem;
    
}

.datos-dueno:hover {
    box-shadow: 5px 5px 10px rgba(0.5, 0.5, 0.5, 0.5);
    transition: .2s;
    .titulo {
        transition: .2s;
        background-color: #e55807;
    }
}

.datos-imagen {
    width: 50%;
    height: auto;
}

.imagen-dueno {
    width: 450px;
    max-height: 300px;
    margin: 2rem 0 0 2rem;
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgba(0.5, 0.5, 0.5, 0.5);
}

table {
    border-radius: .7rem;
    width: 100%;
    overflow: hidden;
    background-color: #035A6C;
    color: white;
}

.titulo-tabla {
    font-weight: bold;
    background-color: #9EF0F7;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
    font-size: 18px;
}

.datos-dueno td{
    padding: 1rem 6rem 1rem 6rem;
    margin: 0;
}

.titulo{
    color: white;
    padding: .3rem 3rem .3rem 3rem;
    background-color: #1B9AB5;
    margin: 0rem 0 .2rem 0;
    text-align: center;
    border-radius: .7rem;
    text-transform: uppercase;
    transition: .3s;
}

/* Estilos para la segunda seccion */

.titulo2 {
    transition: .3s;
    color: white;
    background-color: var(--color-secundario);
    width: 91.5%;
}

.tus-mascotas {
    transition: .2s;
    width: 89.5%;
    padding: 1rem;
    margin: 2rem 3rem  3rem;
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: .7rem;
}

.tus-mascotas:hover {
    box-shadow: 5px 5px 10px rgba(0.5, 0.5, 0.5, 0.5);
    transition: .2s;
    .titulo2{
        transition: .2s;
        background-color: #e55807;
    }   
}

.contenido-tabla {
    text-align: center;
    background-color: #D5FCFF;
    color: black;
    font-weight: bold;
    padding: 1rem;
    font-size: 18px;
    
}

a { 
    text-decoration: none;
    color: black;
}

.boton-tabla {
    text-align: center;
    width: 70%;
    background-color: #D5FCFF;
    color: black;
    font-weight: bold;
    font-style: none;
}

.boton-tabla:hover {
    transition: .2s;
    background-color: #66ecfa;
    color: black;
    border: none;
    cursor: pointer;
    padding: 1rem 0 1rem 0;
    margin: 0;

}

.tus-mascotas table {
    border-radius: .7rem .7rem 0 0;
    width: 100%;
}

.tus-mascotas h1 {
    color: white;
    font-size: 30px;
    margin: 0 0 .3rem 0rem;
    text-align: center;
    background-color: #1B9AB5;
    width: 100%;
    border-radius: .5rem;

}

.ver-info {
    width: 100%;
    padding: 1rem 21rem;
}

.borer-radius1 {
    border-radius: .6rem 0 0 0;
}

.borer-radius2 {
    border-radius: 0 .6rem 0 0;
}

.borer-radius3 {
    border-radius: 0 0 .6rem 0;
}

.borer-radius4 {
    border-radius: 0 0 0 .6rem;
}

footer {
    display: flex;
    background-color: var(--color-secundario);
    padding: 0rem 3rem 0rem 3rem;
    color: white;
    text-align: justify;
    font-size: 20px;
    max-width: 100%;
    margin-top: 3rem;
}


.datos{
    text-align: justify;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.derechos{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociales {
    margin: 2rem 0 2rem 2rem;
    display: flex;
    justify-content: center;
    width: 30%;
}

.redes-sociales img {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

.redes-sociales img:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

