:root {
    --color-primario: #ecf8f9;
    --color-secundario: #068da9;
    --color-terciario: #7e1717;
    --color-contraste: #e55807;
    --font-dosis: 'Dosis', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primario);
    font-family: var(--font-dosis);
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #ffffff;
    padding-top: 4rem;
    margin: 0;
}


.titulo-mascotas {
    width: 90%;
    margin: 1rem 5% .5rem 5%;
    background-color: #035A6C;
    border-radius: .7rem;


}

.titulo-todas-las-mascotas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 93%;
    margin-left: 1rem;
}

.mas {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: 30rem;
    background-color: white;
    border-radius: 70%;
    transition: .2s;
}

.mas:hover {
    transform: scale(1.1);
    transition: .2s;
}

.titulo-mascotas img {
    
    width: 4rem;
    height: 4rem;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.borer-radius4 {
    border-radius: 0 0 0 .6rem;
}

.tabla {
    width: 90%;
    margin: .5rem 5% 2rem 5%;
    border-radius: .1rem;
    overflow: hidden;
    background-color: #035A6C;
}

thead {
    background-color: #9EF0F7;
    color: black;
    padding: 1rem;
}

th {
    padding: 1.2rem;
    font-size: 20px;
}

td {
    padding: .7rem;
    font-size: 20px;
    background-color: #D5FCFF;
    justify-content: center;
    align-items: center;
}

.td-botones {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: left;
}

.contenedor-boton,
.contenedor-boton2,
.contenedor-boton3 {
    display: flex; /* Utilizar flexbox para organizar las imágenes */
    width: 50px;
    height: 50px;
    margin: 0 1rem;
}

.boton-borrar {
    width: 25px;
    height: 25px;
    position: absolute;

}

.boton-borrar:hover {
    opacity: 0;
    cursor: pointer;
    transition: .2s;
}
