<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Mascota</title>
</head>
<body>
    
    <form th:object="${mascota}" th:action="@{/mascotas/agregar}" method="post">

        <label for="nombre">Nombre</label>
        <input th:field="*{nombre}" type="text" name="nombre" id="nombre">

         <label for="id" hidden>ID</label>  <!-- Campo necesario para que redirija, no se muestra en el formulario-->
        <input th:field="*{id}" type="hidden" name="id" id="id">

        <label for="raza">Raza</label>
        <input th:field="*{raza}" type="text" name="raza" id="raza">

        <label for="edad">Edad</label>
        <input th:field="*{edad}" type="number" name="edad" id="edad">

        <label for="peso">Peso</label>
        <input th:field="*{peso}" type="number" name="peso" id="peso">

        <label for="foto">Foto</label>
        <input th:field="*{foto}" type="text" name="foto" id="foto">

        <label for="enfermedad">Enfermedad</label>
        <input th:field="*{enfermedad}" type="text" name="enfermedad" id="enfermedad">

        <label for="estado">Estado</label>
        <input th:field="*{estado}" type="text" name="estado" id="estado">

        <button type="submit">Crear</button>


    </form>


</body>
</html>