<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logo_basico_fondo.png" type="img/logo_basico">
    <link rel="stylesheet" href="/css/mostrarTodasMascotas.css" />
    <title>Bienvenido a DOGTOR</title>
</head>
<body>
    <header class="logo-horizontal">
        <img src="/img/logo_horizontal.png" alt="">
    </header>

    <h1>Todas las Mascotas</h1>

    <div>
        <table class="tabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Raza</th>
                    <th>Edad</th>
                    <th>Peso</th>
                    <th>Enfermedad</th>
                    <th>Foto</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mascota, iterStat : ${mascotas}" 
                    th:class="${iterStat.odd} ? 'odd-row' : 'even-row'">
                    <td th:text="${mascota.getNombre()}"></td>
                    <td th:text="${mascota.getRaza()}"></td>
                    <td th:text="${mascota.getEdad()}"></td>
                    <td th:text="${mascota.getPeso()}"></td>
                    <td th:text="${mascota.getEnfermedad()}"></td>
                    <td th:text="${mascota.getFoto()}"></td>
                    <td th:text="${mascota.getEstado()}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>