<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logo_basico_fondo.png" type="img/logo_basico">
    <link rel="stylesheet" href="/css/mostrarTodasMascotas.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>Bienvenido a DOGTOR</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/img/logo_basico_blanco.png" alt="">
            <h1>Veterinario: </h1>
        </div>
        
        <nav class="navegacion-principal">
            <ul class="menu-principal">  
                <a href="#datos-dueno"><li>Tu Información</li></a>
                <a href="#mascotas"><li>Tus Mascotas</li></a>
                <a href="http://localhost:8090"><li class="inicio-sesion">Cerrar Sesión</li></a>
            </ul>
        </nav>
        
    </header>

    <div class="titulo-mascotas">
        <div class="titulo-todas-las-mascotas">
            <h1 class="titulo">Todos los Dueños</h1>
            <a type="button" class="mas" th:href="@{/dueno/add}"><img src="/img/mas.png" alt=""></a>
        </div>
    </div>

    <div>
        <table class="tabla">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Celular</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="dueno, iterStat : ${duenos}" 
                    th:class="${iterStat.odd} ? 'odd-row' : 'even-row'" >
                    <td >
                        <a th:href="@{/dueno/find/{cedula}(cedula=${dueno.getCedula()})}" th:text="${dueno.getCedula()}"> </a> 
                    </td>
                    <td th:text="${dueno.getNombre()}"></td>
                    <td th:text="${dueno.getCorreo()}"></td>
                    <td th:text="${dueno.getCelular()}"></td>

                    <td class="td-botones">
                        <div class="contenedor-botones">
                            <!-- <div contenedor-boton>
                                <a th:href="@{/dueno/delete/{id}(id=${dueno.getId()})}">
                                    <img class="boton-borrar" src="/img/borrar_rojo.png" alt="">
                                    <img class="boton-borrar" src="/img/borrar.png" alt="">
                                </a>
                            </div> -->
    
                            <div contenedor-boton3>
                                <a th:href="@{/dueno/find/{id}(id=${dueno.getCedula()})}">
                                    <img class="boton-borrar" src="/img/ver_naranja.png" alt="">
                                    <img class="boton-borrar" src="/img/ver.png" alt="">
                                </a>
                                
                            </div>
                            <div contenedor-boton2>
                                <a th:href="@{/dueno/update/{id}(id=${dueno.getId()})}">
                                    <img class="boton-borrar" src="/img/editar_azul.png" alt="">
                                    <img class="boton-borrar" src="/img/editar.png" alt="">
                                </a>
    
                            </div>
    
                            
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <footer>
        <div class="datos">
            <p>
                Numero: +57 000 000 0000<br>
                Email: consultor@dogtor.com<br>
                Direccion: Calle 1 # 1-1<br>
                Horario de atenciòn: 9:00 - 18:00
            </p>
        </div>
        
        <div class="derechos">
            © 2024 DOGTOR. Todos los derechos reservados.
        </div>

        <div class="redes-sociales">
            <img src="/img/facebook.png" alt="facebook">
            <img src="/img/instagram.png" alt="instagram">
            <img src="/img/whatsapp.png" alt="whatsapp">
        </div>

        
        
    </footer>
    
</body>
</html>