<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logo_basico_fondo.png" type="img/logo_basico">
    <link rel="stylesheet" href="/css/mostrarDueno.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>Dueno</title>
</head>
<body>
    <header>
        <img src="/img/logo_basico_blanco.png" alt="">
        <h1 th:text="${dueno.getNombre()}"></h1>
    </header>


    <section class="datos-paciente-imagen">

            <div class="datos-paciente">
                <h1 class="titulo">Info del Dueño</h1>
                <table class="tabla-info">
                    <tr>
                        <td class="titulo-tabla borer-radius1">Cedula</td>
                        <td th:text="${dueno.getCedula()}" class="contenido-tabla borer-radius2"></td>
                    </tr>
                    <tr>
                        <td class="titulo-tabla">Nombre</td>
                        <td th:text="${dueno.getNombre()}" class="contenido-tabla"></td>
                    </tr>
                    <tr>
                        <td class="titulo-tabla">Correo</td>
                        <td th:text="${dueno.getCorreo()}" class="contenido-tabla"></td>
                    </tr>
                    <tr>
                        <td class="titulo-tabla borer-radius4">Celular</td>
                        <td th:text="${dueno.getCelular()}" class="contenido-tabla borer-radius3"></td>
                    </tr>
                </table>
            </div>

            <div class="datos-imagen">
                <img class="imagen-dueno" src="/img/dueno_especifico.jpg" alt="">
            </div>
    </section>

    <section class="tratamientos">
        <h1>Tus Mascotas</h1>
        <table>
            <tr>
                <td class="contenido-tabla borer-radius1">Max</td>
                <td class="boton-tabla borer-radius2">
                    <a class="borer-radius2" href="http://localhost:8090/mascotas/find/1" target="_blank">Ver Información</a>
                </td>
            </tr>
            <tr>
                <td class="contenido-tabla borer-radius4">Dash</td>
                <td class="boton-tabla borer-radius3">
                    <a class="borer-radius2" href="http://localhost:8090/mascotas/find/1" target="_blank">Ver Información</a>
                </td>
        </table>
    </section>

    <footer>
        <div class="datos">
            <p>
                Numero: +57 000 000 0000<br>
                Email: consultor@dogtor.com<br>
                Direccion: Calle 1 # 1-1<br>
                Horario de atenciòn: 9:00 - 18:00
            </p>
        </div>
        
        <div class="derechos">
            © 2024 DOGTOR. Todos los derechos reservados.
        </div>

        <div class="redes-sociales">
            <img src="/img/facebook.png" alt="facebook">
            <img src="/img/instagram.png" alt="instagram">
            <img src="/img/whatsapp.png" alt="whatsapp">
        </div>
        
    </footer>
    
</body>
</html>
