<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logo_basico_fondo.png" type="img/logo_basico">
    <link rel="stylesheet" href="/css/mostrarMascota.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>Dueno</title>
</head>
<body>
    <header>
        <img src="/img/logo_basico_blanco.png" alt="">
        <h1 th:text="${dueno.getNombre()}"></h1>
    </header>

    <h2 class="titulo">Info del Dueño</h2>
    <section class="datos-paciente">
        
        <table class="tabla-info">
            <tr>
                <td class="titulo-tabla">Cedula</td>
                <td th:text="${dueno.getCedula()}" class="contenido-tabla"></td>
            </tr>
            <tr>
                <td class="titulo-tabla">Nombre</td>
                <td th:text="${dueno.getNombre()}" class="contenido-tabla"></td>
            </tr>
            <tr>
                <td class="titulo-tabla">Correo</td>
                <td th:text="${dueno.getCorreo()}" class="contenido-tabla"></td>
            </tr>
            <tr>
                <td class="titulo-tabla">Celular</td>
                <td th:text="${dueno.getCelular()}" class="contenido-tabla"></td>
            </tr>
        </table>

        <img src="/img/mascota_especifico.jpg" alt="">
    </section>


   

    <footer>
        <div class="datos">
            <p>
                Numero: +57 000 000 0000<br>
                Email: consultor@dogtor.com<br>
                Direccion: Calle 1 # 1-1<br>
                Horario de atenciòn: 9:00 - 18:00
            </p>
        </div>
        
        <div class="derechos">
            © 2024 DOGTOR. Todos los derechos reservados.
        </div>

        <div class="redes-sociales">
            <img src="/img/facebook.png" alt="facebook">
            <img src="/img/instagram.png" alt="instagram">
            <img src="/img/whatsapp.png" alt="whatsapp">
        </div>

        
        
    </footer>
    
</body>
</html>