<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Mascota</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Info de Mascota</h1>

    <p th:text="${mascota.getNombre()}"></p>
    <p th:text="${mascota.getRaza()}"></p>
    <p th:text="${mascota.getEdad()}"></p>
    <p th:text="${mascota.getPeso()}"></p>
    <p th:text="${mascota.getEnfermedad()}"></p>
    <p th:text="${mascota.getFoto()}"></p>
    <p th:text="${mascota.getEstado()}"></p>
</body>
</html>