<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/nuevoPaciente.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  
  <title>Nuevo Paciente</title>
</head>
<body>

    <img class="fondo-imagen" src="/img/nuevoFondoFormulario.jpg" alt="Fondo">

    <div class="formulario-container">
        <div class="contenedor-formulario">
            <div class="logo-container">
                <img src="/img/logo_basico.png" alt="Logo">
            </div>

            <h1>Nuevo Paciente</h1>

            <form th:object="${mascota}" th:action="@{/mascotas/agregar}" action="#" method="post" id="nuevoPacienteForm">
                <label for="nombre">Nombre:</label>
                <input th:field="*{nombre}" type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre del paciente" required>


                <label for="raza">Raza:</label>
                <input th:field="*{raza}" type="text" id="raza" name="raza" placeholder="Ingrese la raza del paciente" required>

                <label for="edad">Edad:</label>
                <input th:field="*{edad}" type="number" id="edad" name="edad" placeholder="Ingrese la edad del paciente" required inputmode="numeric">

                <label for="peso">Peso (KG):</label>
                <input th:field="*{peso}" type="number" id="peso" name="peso" placeholder="Ingrese el peso del paciente" required inputmode="numeric">

                <label for="foto">Foto (URL):</label>
                <input th:field="*{foto}" type="url" id="foto" name="foto" placeholder="Ingrese la URL de la foto del paciente" required>

                <label for="enfermedad">Enfermedad</label>
                <input th:field="*{enfermedad}" type="text" id="enfermedad" name="enfermedad" placeholder="Ingrese la enfermedad del paciente" required>

                <label for="estado" hidden>Estado</label>
                <input th:field="*{estado}" type="hidden" name="estado" id="estado" value="Activo">

                <label for="cedulaDueno">Cédula del Dueño:</label>
                <input th:field="*{dueno.cedula}" type="text" id="cedulaDueno" name="cedulaDueno" placeholder="Ingrese la cédula del dueño" required>

                
                <button type="submit">Agregar Paciente</button>
            </form>
        </div>
    </div>

</body>
</html>
