<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error ID</title>
    <link rel="stylesheet" href="/css/paginaErrorID.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="/img/logo_basico_blanco.png" alt="">
        <h1>ERROR: El ID solicitado no existe</h1>
    </header>
    <section>
        <div class="mostrarErrorID">
            <h2>ERROR 404</h2>
            <h2>La mascota que buscas no existe</h2>
            <h2 th:text=" 'ID = ' + ${id}"></h2>
        </div>

        <div class="imagenError">
            <img class="notFoundDog" src="/img/notFoundDog.jpg" alt="">
        </div>
    </section>
    
    
    

    <footer>
        <div class="datos">
            <p>
                Numero: +57 000 000 0000<br>
                Email: consultor@dogtor.com<br>
                Direccion: Calle 1 # 1-1<br>
                Horario de atención: 9:00 - 18:00
            </p>
        </div>

        
        
        <div class="derechos">
            © 2024 DOGTOR. Todos los derechos reservados.
        </div>

        <div class="redes-sociales">
            <img src="/img/facebook.png" alt="facebook">
            <img src="/img/instagram.png" alt="instagram">
            <img src="/img/whatsapp.png" alt="whatsapp">
        </div>

        
        
    </footer>

</body>
</html>